<h4>Comments:</h4> 
            <div class="container">
            <!-- THIS IS BROKEN NEED TO FIX -->
            <form action="/rotations/<%= @rotation[:id] %>/comment/create" method="post">
                <div class="form-group">
                    <label>Have you completed this rotation?</label>
                    <select class="form-control" name="going">
                    <option value="1">Yes</option>
                    <option value="0">No</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Comments</label>
                    <textarea class="form-control" rows="3" name="comments"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <br>